#footer
  background: color-footer-background
  padding: 70px 0px
  border-top: 5px solid color-border
  color: color-grey

#footer-info
  line-height: line-height
  font-size: 1em
  text-align: center